.borde {
    border: 1px solid black;
}
.fondo1 {
    background-color: rgb(207, 226, 255)
}

.fondo2 {
    background-color: rgb(248, 215, 218);
}

.fondo3 {
    background-color: rgb(209, 231, 221);
}